* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF";
  line-height: 138%;
  font-weight: 400;
  color: var(--black);
}
*:focus-visible {
  outline: auto 0px;
}

:root {
	--black: #333;
	/* --black&gray: #969fa8; */
	--white: #fff;
	--white-bg: #f2f3f7;
	--black-2: #1c1e20;
	--gray: #f9f9f9;
	--red: #ff5a59;
	--main-1: #ffe240;
	--line: rgba(34, 34, 34, 0.1);
	--green: #38b327;
	--main-2: #046d53;
	--telegram: #27a6e5;
	--green100: #fff;
	--yellow200: #fff;
	--red100: rgba(255, 90, 89, 0.1);
}
:root {
  --font-family: "Raleway", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "SF Pro Display", sans-serif;
  --font3: "Montserrat", sans-serif;
  --font4: "Inter", sans-serif;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: #fff;
  color: var(--black);
  padding-top: 110px;
}
@media (max-width: 550px) {
  body {
    padding-top: 65px;
  }
}

a {
  text-decoration: none;
  color: var(--black);
  line-height: 120%;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

li {
  color: var(--black);
}

.container {
  width: 1290px;
  margin: 0 auto;
}
.container_for_slider {
  /* width: 1290px;
  margin: 0 auto;
  overflow: visible; */
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}
main {
  background: rgb(242, 243, 247);
  /* padding-top: 50px; */
  margin-top: 50px;
}

@media (max-width: 550px) {
  main {
    padding-top: 0;
    margin-top: 0;
  }
}


/* header */
.header {
  display: flex;
  flex-direction: column;
}
.header-ads {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-ads-wrapper {
  background: var(--yellow);
  padding: 10px 0;
}
.header-ads-item:nth-child(1) {
  display: flex;
  width: 10%;
}
.header-ads-item:nth-child(2) {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.header-ads-item:nth-child(2) > span {
  font-weight: 800;
  text-transform: uppercase;
}
.header-ads-item:nth-child(2) > a {
  padding: 10px 25px;
  background: #FFFFFF;
  color: var(--black);
  border-radius: 30px;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.header-ads-item:nth-child(3) {
  width: 10%;
}
.header-wrapper.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
.header-top {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}
.header-top > ul {
  display: flex;
  gap: 22px;
}
.header-top > ul li {
  font-size: 14px;
}
.header-top > ul li > a {
  color: var(--black-grey);
}
.header-top > ul li > a:hover {
  color: var(--black);
}
.header-main {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  /* width: 41%; */
  width: 50%;
  gap: 60px;
  display: flex;
  align-items: center;
}
.header-logo {
  width: 132px;
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  gap: 20px;
}
.header-nav-item > a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
}
.header-nav-item:hover {
  opacity: 0.3;
}
.header-right {
  width: 48%;
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-contacts > a {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
}
.header-contacts > a:hover {
  opacity: 0.5;
}
.header-contacts > div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header-btn {
  padding: 8px 10px;
  background: #F2F3F7;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  line-height: 100%;
}
.header-btn > span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--telegram);
}
.header-btn:hover {
  background: transparent;
  color: var(--black);
}

.header-btn-green {
  border: 1px solid var(--line);
  border-radius: 30px;

  background: var(--main-2);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--white);
}
.header-btn-green:hover {
  color: var(--main-2);
}
/* .header-btn-green > span {
  font-family: var(--font-family);
  color: var(--white);
} */

.header-burger {
  display: none;
}
.header-menu-wrapper {
  display: none;
}

@media (max-width: 550px) {
  .header-wrapper {
    margin-bottom: 0;
    border-bottom: 1px solid rgb(242, 243, 247);
  }
  .header-top {
    display: none;
  }
  .header-main {
    padding: 14px 0;
  }
  .header-nav {
    display: none;
  }
  .header-right {
    width: 42%;
  }
  .header-contacts {
    width: -moz-max-content;
    width: max-content;
  }
  .header-contacts > a {
    display: none;
  }
  .header-burger {
    width: 26px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header-burger > div {
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background: var(--black);
  }
  .header-burger.active > div:nth-child(1) {
    transform: rotate(45deg);
    margin-bottom: -4px;
    margin-top: 7px;
  }
  .header-burger.active > div:nth-child(2) {
    display: none;
  }
  .header-burger.active > div:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -9px;
    margin-bottom: 10px;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 130%;
  }
  .header-menu-wrapper {
    display: none;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    background: rgb(255, 255, 255);
  }
  .header-menu-wrapper.active {
    display: flex;
    overflow: scroll;
    height: calc(100vh - 167px);
  }
  .header-menu .line {
    border-bottom: 1px solid rgba(221, 221, 221, 0.5019607843);
    height: 1px;
  }
  .header-menu > div {
    display: flex;
    flex-direction: column;
  }
  .header-menu > div > a {
    padding: 10px 0;
  }
  .header-menu-list > a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
  }
  .header-menu-link > a {
    color: rgb(150, 159, 168);
  }
  .header-menu-btn {
    text-align: center;
    padding: 10px 20px;
    background: rgb(16, 15, 16);
    border-radius: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
  }
  .header-ads-item:nth-child(1), .header-ads-item:nth-child(3) {
    width: 0;
    display: none;
  }
  .header-ads-item:nth-child(2) {
    width: 100%;
  }
  .header-ads-item:nth-child(2) > span {
    font-size: 12px;
    width: 50%;
  }
  .header-ads-item:nth-child(2) > a {
    font-size: 14px;
    width: 42%;
    padding: 6px 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-btn-green {
    display: none;
  }
}


.hero-wrapper {
  padding-bottom: 50px;
  background: var(--white);
}
.hero-top {
  background: var(--main-2);
  border-radius: 26px;
  color: #fff;
  /* padding: 60px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.hero-top-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 60px; */
  padding: 40px;
  width: 60%;
}
.hero-top-text > span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--white);

  margin-bottom: 14px;
}
.hero-top-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 140%;
  color: var(--white);
  margin-bottom: 14px;
}
.hero-top-subtitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 100px;
  width: 100%;
}
.hero-top-subtitle > span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
}
.hero-top-action {
  display: flex;
  flex-wrap: wrap;
}
.hero-top-action.center {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.hero-top-action.center > span {
  text-align: center;
  display: flex;
  justify-content: center;
}
.hero-top-action.center.black > div > span {
  border: 1px solid rgba(34, 34, 34, 0.1019607843);
  color: var(--black);
}
.hero-top-action.center.black > span {
  color: var(--black);
}
.hero-top-action > span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
}
.hero-top-action > span > svg {
  display: none;
}
.hero-top-action > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-top-action > div > a {
  padding: 13px 25px;
  background: #fff;
  border-radius: 30px;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--main-2);
}
.hero-top-action > div > a:hover {
  /* background: var(--main-2);
  color: var(--white); */

  background: var(--main-1);
  color: var(--black);
}
.hero-top-action > div > span {
  background: transparent;
  /* border: 1px solid var(--yellow); */
  background: var(--main-1);
  color: var(--black);
  cursor: pointer;
  padding: 13px 25px;
  border-radius: 30px;
  cursor: pointer;
  line-height: 120%;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
}
.hero-top-action > div > span:hover {
  /* border: 1px solid var(--line); */
  background: var(--white);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--main-2);
}
.hero-top-img {
  border-radius: 26px;
  /* padding: 30px; */
  width: 40%;
  height: 478px !important;
  position: relative;

  background: var(--white-bg);
  /* background-image: url('../img/man.png');
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: 10% 100%; */
}
.hero-top-slider {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;  */

  position: relative;
  width: 100%;
  height: 100%;
}
.hero-top-image {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items:end;
  width: 100%;
  height: 100% !important;
  padding: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px; */
  /* display: flex !important;
  flex-direction: column;
  justify-content: space-between; */

  background-image: url('../img/man.png');
  background-repeat: no-repeat;
  background-size: 75% auto;
  background-position: 10% 100%;
}
.slick-track {
  height: 100% !important;
}
.slick-slide{
  height: 478px !important;
}
.hero-top-image .slick-slide {
  /* height: 478px !important; */
}
.hero-top-description {
  border-radius: 16px;
  padding: 15px;
  width: 218px;
  height: auto;

  background: var(--white);
}

.hero-top-description > h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
}
.hero-top-description > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: var(--black);

  margin: 8px 0;
}
.hero-top-description > span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #969fa8;
}
.hero-top-image > a {
  border: 1px solid var(--line);
  border-radius: 30px;
  padding: 7px 24px;
  width: auto;
  height: auto;

  background: var(--white);
}
.hero-top-image > a > span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--main-2);
}
.hero-top-image > button {
  border: 1px solid var(--line);
  border-radius: 30px;
  padding: 7px 24px;
  width: auto;
  height: auto;
  background: var(--white);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--main-2);
}
.hero-top-image > button:hover {
  background: var(--main-2);
  color: var(--white);
}
.hero-top-img-mob {
  display: none;
}
.hero-top-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.hero-top-dots > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #969fa8;
  opacity: 0.4;
  cursor: pointer;
}
.hero-top-dots > li > button {
  opacity: 0;
  width: 100%;
}
.hero-top-dots > li.slick-active {
  background: #FFE240;
  opacity: 1;
}
.slick-list {
  height: auto !important;
}



.hero-bottom {
  display: flex;
  justify-content: space-between;
}
.hero-bottom-item {
  /* border: 1px solid rgba(34, 34, 34, 0.1); */
  border-radius: 22px;
  /* box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.05); */
  background:  rgba(4, 109, 83, 0.1);
  padding: 30px 30px;
  width: 32%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
}
.hero-bottom-item:hover {
  background: var(--main-2);
}
.hero-bottom-item:hover > div > div {
  color: var(--white);
}
.hero-bottom-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);

  margin-bottom: 10px;
}
.hero-bottom-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color:#969fa8;
}
.hero-bottom-subtitle > a {
  color: rgb(255, 90, 89);
  text-decoration: underline;
}
.hero-bottom-img {
  width: 64px;
}
.hero-bottom-img > img {
  width: 64px;
}



@media (max-width: 550px) {
  .hero-top {
    margin: 0 -6%;
    border-radius: 33px;
    padding: 0 6%;
    padding-top: 50px;
    flex-direction: column;
  }
  .hero-top-text {
    width: 100%;
    padding: 0;
  }
  .hero-top-title {
    font-weight: 500;
    font-size: 20px;
  }
  .hero-top-img {
    display: flex !important; 
    width: 111%;
    /* width: 100%; */
    height: auto;
    position: relative;
    margin-top: 70px;
    padding: 0;
  }
  .hero-top-img-mob {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
  }
  .hero-top-image {
    width: 100%;
    padding: 20px;
    background-size: 85% auto;
    background-position: 40% 100%;
  }
  .hero-top-image-mob {
    display: flex;
    margin-bottom: 40px;
    width: 100%;
  }
  .hero-top-image > a {
    margin-top: 200px;
  }
  .hero-top-description {
    width: 271px;
    height: 136px;
  }
  .hero-top-dots-mob {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .hero-top-dots-mob > li {
    background: transparent;
    color: transparent;
    width: 100%;
    background: #fff;
    height: 2px;
  }
  .hero-top-dots-mob > li > button {
    opacity: 0;
    width: 100%;
  }
  .hero-top-dots-mob > li.slick-active {
    background: #FFE240;
  }
  .hero-top-subtitle {
    margin-bottom: 40px;
  }
  .hero-top-subtitle > span {
    font-size: 16px;
  }
  .hero-top-action > span {
    width: 100%;
    position: relative;
    font-size: 14px;
  }
  .hero-top-action > span > br {
    display: none;
  }
  .hero-top-action > span > svg {
    position: absolute;
    right: -10%;
    top: 40%;
  }
  .hero-top-action > div {
    width: 100%;
    flex-direction: column;
  }
  .hero-top-action > div > span, .hero-top-action > div > a {
    width: 100%;
    text-align: center;
  }
  .hero-bottom {
    padding: 0 6%;
    padding-top: 70px;
    margin: 0 -6%;
    gap: 10px;
    overflow-x: scroll;
  }
  .hero-bottom::-webkit-scrollbar {
    width: 0;
  }
  .hero-bottom-item {
    min-width: 80vw;
    box-shadow: none;
  }
  .hero-bottom-item:hover {
    box-shadow: none;
  }
}

.mistakes-wrapper {
  padding: 70px 0;
}
.mistakes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mistakes-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: var(--black);
}
.mistakes-items {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch; 
}
.mistakes-item {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  align-items: flex-start;
  /* width: 622px;
  height: 189px; */
  width: 408px;
  /* height: auto; */
  height: 180px;
  padding: 0px 15px;
  padding-top: 30px;
  margin-bottom: 20px;

  border: 1px solid var(--line);
  border-radius: 12px;
  background: var(--white);

  scroll-snap-align: start; /* Привязка элементов при прокрутке */
}
.mistakes-item:hover {
  cursor: pointer;
}
.mistakes-item:hover .mistakes-item-number {
  background: var(--red);
}
.mistakes-item:hover .mistakes-item-number > span {
  color: var(--white);
}
.mistakes-item:hover .mistakes-item-text > h3 {
  color: var(--red);
}

/* green-text*/
.mistakes-item:hover .mistakes-item-text_green > h3 {
  color: var(--main-2);
}
.mistakes-item:hover .mistakes-item-number_green {
  background: var(--main-2);
}
.mistakes-item:hover .mistakes-item-number_green > span {
  color: var(--white);
}
.mistakes-item-number_green {
  background: rgba(4, 109, 83, 0.1);

  border-radius: 5px;
  width: 44px;
  padding: 10px 12px;
}
.mistakes-item-number_green > span{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
}
/* green-text*/

.mistakes-item > img {
  width: 44px;
  height: auto;
}
.mistakes-item-number {
  border-radius: 5px;
  width: 44px;
  padding: 10px 12px;
  background: rgba(255, 90, 89, 0.1);
}
.mistakes-item-number span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
}
.mistakes-item-text {
  margin-left: 15px;
}
.mistakes-item-text > h3 {
  margin-bottom: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
}
.mistakes-item-text > span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
}
.mistakes-action {
  border: 1px solid var(--line);
  border-radius: 30px;
  padding: 10px 25px;
  width: 298px;
  height: 48px;
  background: var(--main-1);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
}
.mistakes-action:hover {
  cursor: pointer;
  background: var(--white);

  color: var(--main-2);
}
.solution-action {
  padding: 10px 20px;
}
.steps-wrapper {
  background: var(--white-bg);
}
.steps-items {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.steps-item {
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 30px;
  width: 622px;
  min-height: 211px;
  height: auto;
  flex-direction: column;
}
.steps-items > .steps-item:hover {
  border: 1px solid var(--main-2);
}
.steps-action {
  width: 390px;
}
.steps-action-mob {
  display: none;
}
.steps-item-time {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* margin-top: 30px; */
  margin-top: auto;
  padding-top: 30px;
  width: 50%;
  /* width: 25%; */
}
.steps-item-time > img {
  width: 20px;
  height: auto;
}
.steps-item-time > span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #969fa8;
  margin: 0 8px;
}
.steps-item-time > p{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--main-2);
}
.steps-item-up {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.steps-item-up > img{
  width: 44px;
  height: auto;
}

@media (max-width: 550px) {
  .mistakes-items-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    margin-top: 50px;
  }
  
  .mistakes-items {
    padding: 0 6%;
    padding-top: 70px;
    margin: 0 -6%;
    gap: 10px;

    display: block; /* Для работы slick */
    width: 135%;
    /* width: 100%; */
    white-space: nowrap; /* Для горизонтального скролла без slick */


    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    margin: 0 -20px;
    padding: 0 20px;
    scrollbar-width: none; /* Для Firefox */
  }

  .mistakes-items::-webkit-scrollbar {
    display: none; /* Скрыть scrollbar для Chrome/Safari */
  }

  .steps-items {
    padding: 0 6%;
    /* padding-top: 50px; */
    margin: 0 -6%;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .steps-item {
    padding: 30px 20px !important;
    flex-direction: column !important;
  } 
  .steps-item-up {
    flex-direction: column;
    width: 100%;
  }
  .steps-item-time {
    margin: 0;
    padding: 0;
  }
  .steps-item-text {
    margin: 15px 0 30px 0;
  }
  .steps-item-text > h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--black);
    width: 100%;
  }
  .steps-item-text > span{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--black);
  }
  .steps-item-time {
    width: 100%;
  }
  .steps-action {
    display: none;
  }
  .steps-action-mob {
    display: block;
    width: 90%;
  }
  .mistakes-item {
    border: 1px solid var(--line);
    border-radius: 12px;
    padding: 40px 15px;
    width: 320px;
    height: 228px;
    /* height: auto; */

    display: inline-block !important; /* Для горизонтального скролла без slick */
    width: 300px !important;
    margin-right: 15px;
    white-space: normal;


    flex: 0 0 calc(100% - 40px); /* Ширина с учетом отступов */
    scroll-snap-align: start;
    margin-right: 15px;
    height: 228px !important; /* Фиксированная высота */
    display: flex !important;
    flex-direction: row;
  }
}


.team-slider-container {
  background: var(--white-bg);
  padding: 50px 0;
}

.team-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.team-slider {
  display: flex;
  gap: 30px;
}

/* Стили для слайдера */
.team-slider .slick-slide {
  margin: 0px 10px !important; /* Добавляем отступ между слайдами */
}

.team-slider .slick-prev,
.team-slider .slick-next {
  z-index: 10;
}
.team-slider .team-slide img.team-member-img {
  width: 100%;
  height: auto;
  border-radius: 26px; /* радиус скругления */
}
.team-slider .team-slide {
  flex-shrink: 0;
  width: calc(25% - 20px); /* 4 слайда в строке, минус отступы */
  height: 542px !important;
  /* height: auto; */
}


/* arrows */


.rez-slider-prev {
  position: absolute;
  top: 50%;
  float: left;
  z-index: 10;
}
.rez-slider-next {
  position: absolute;
  top: 50%;
  right: -1px;
  float: right;
  z-index: 10;
}
.rez-slider {
  position: relative;
}

.team-slide {
  width: 300px;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  background-color: #fff;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  position: relative;
}

.team-member-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.team-member-info {
  padding: 15px 0;
  text-align: center;
}

.team-member-info h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
  margin-bottom: 10px;
}

.team-member-info p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
  margin-bottom: 10px;
}
.team-member-info span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #969fa8;
}

.slick-prev, .slick-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5); /* Добавляем полупрозрачный фон */
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  /* backdrop-filter: blur(8px); */
  width: 50px;
  height: 50px; 
}

.slick-prev {
  left: 10px !important;
}

.slick-next {
  right: 40px !important;
}
.slick-prev::before, .slick-next::before {
  content: none !important;  /* Отключаем текст в псевдо-элементе */
}
.slick-prev img, .slick-next img {
  width: 50px;
  height: 50px;
  filter: invert(100%);/* Инвертируем цвет стрелок (белые на черном фоне) */
}

@media (max-width: 768px) {
  .team-slider {
    flex-direction: column;
  }

  .team-slide {
    width: 100%;
    margin-bottom: 20px;
  }
  .slick-prev, .slick-next {
    display: none;
  }
  .team-slider .team-slide {
    width: 100%; /* 1 слайд на экране */
    /* height: auto !important; */
    min-height: 555px !important;
  }
  .team-member-info {
    margin: 15px 0 !important;
    padding: 0;
  }
}



/* faq.css */

.faq-wrapper {
  padding: 50px 0;
}


.faq {
  /* background: #fff; */
  padding: 30px;
  /* border-radius: 10px; */
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}

.faq-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.faq-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.faq-item {
  background: var(--white-bg);
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
/* .faq-item:active .faq-question {
  color: #046d53;
} */

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
}

.faq-answer {
  display: none;
  margin-top: 10px;
  color: #333;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
}

.plus {
  font-size: 24px;
  color: #046D53;
}
@media (max-width: 550px) {
  .faq {
    padding: 0;
  }
  .faq-title {
    text-align: left;
  }
}




.rez-wrapper {
  background: var(--main-2);
  padding: 70px 0 70px 0;
}
.rez-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.rez-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rez-title {
  width: 100%;
  margin-bottom: 50px;
}
.rez-title > h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: var(--white);
  text-align: center;
}
.rez-title > span {
  color: #fff;
}
.rez-button > a {
  border-radius: 30px;
  background: #fff;
  padding: 10px 20px;
}
.rez-button > a:hover {
  background: rgb(255, 226, 64);
  color: #000;
}
.rez-button .info {
  padding: 10px 20px 10px 20px;
  border: 1px solid rgb(150, 159, 168);
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  color: rgb(150, 159, 168);
}
.rez-body > .container {
  display: flex;
  align-items: center;
  gap: 30px;
  
}
.rez-body .slick-track {
  display: flex !important;
  gap: 30px !important;
}
/* .rez-body-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.rez-item {
  padding: 22px;
  border-radius: 30px;
  background: #fff;
  background-image: url('../img/item_card.png');
  background-size:cover;
  width: 622px;
  height: 480px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.rez-item-2 {
  background-image: url('../img/item_card_2.png');
}
.rez-item-3 {
  background-image: url('../img/item_card_3.png');
}
.rez-item-4 {
  background-image: url('../img/item_card_4.png');
}
.rez-item-texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rez-item-texts > span {
  border: 1px solid var(--line);
  border-radius: 30px;
  padding: 8px 20px;
  margin: 0 5px;  

  background: var(--white);
  opacity: 0.7;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--main-2);
}
.rez-item-action {
  align-self: flex-end;
  background: var(--white);
  color: var(--main-2);
  margin-top: 348px;
  margin-left: 390px;
}
.rez-item-action:hover {
  background: var(--main-2);
  color: var(--white);
}
.rez-img {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 20px;
}
.rez-img > span {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 4px 12px;
  background: #fff;
  border-radius: 8px;
}
.rez-text {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rez-text-author {
  display: flex;
  gap: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  margin-bottom: 10px;
}
.rez-text-author > img {
  width: 80px;
  height: 80px;
}
.rez-text-author > div {
  padding: 9px 0;
}
.rez-text-author > div > span {
  font-weight: 600;
}
.rez-text-author > div > p {
  font-size: 14px;
}
.rez-text-item > span {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.rez-text-item > p {
  font-size: 14px;
}
.rez-text-item > ul {
  padding-bottom: 9px;
  margin-bottom: 9px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}
.rez-text-item > ul > li {
  font-size: 14px;
}
.rez-text-link {
  padding: 2px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  color: var(--black-grey);
  cursor: pointer;
  margin-top: auto;
}
.rez-text-link:after {
  content: "";
  background-image: url(../img/rez-more-arrow.svg);
  width: 5px;
  height: 9px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
}
.rez-block-more {
  display: none;
}

@media (max-width: 550px) {
  .rez-wrapper {
    padding: 100px 0;
    /* display: none; */
  }
  .rez-button {
    display: none;
  }
  .rez-body > .container {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 111%;
    padding: 0 6%;
  }
  .rez-body > .container::-webkit-scrollbar {
    width: 0;
  }
  .rez-block-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 9px 13px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 60px;
  }
  .rez-img {
    width: 230px;
  }
  .rez-item {
    width: 320px;
    height: 458px !important;
    background-image: url('../img/item_card_mob.png');
    background-size: cover;
    /* background-position: 25% 50%; */
    background-repeat: no-repeat;
  }
  .rez-item-action {
    display: flex;
    margin-top: 280px;
    margin-left: 119px;
  }
  .rez-item-texts {
    flex-direction: column;
    align-items: end;
  }
  .rez-item-texts > span {
    margin: 5px 0;
    /* width: 100%; */
    /* text-align: right; */
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .rez-slider-prev, 
  .rez-slider-next {
    display: none !important;
  }
}

.footer-wrapper {
  padding: 50px 0;
}
.footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer-item > h4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
  margin-bottom: 9px;
}
.footer-item > a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #969fa8;
  margin: 9px 0;
}
.footer-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--telegram);
  padding: 8px 10px;
}


.why-wrapper {
  background: var(--white-bg);
}
.why-table {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}
.cell {
  width: 5%;
}
.why-table-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 13px;
}
.why-table-title > p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--black);
  margin-left: 10px;
}
#why-table-title-we {
  /* padding: 4px 20px; */
  width: 66px;
height: 30px;
text-align: center;
  border-radius: 100px;
  color: var(--white);
  background: rgba(4, 109, 83, 0.4);
}
.why-table-rows {
  display: flex;
  flex-direction: column;

  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch; 
}
.why-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 5px;

  border: 1px solid var(--line);
  border-radius: 10px;
  padding: 20px 10px;
  background: var(--white);

  scroll-snap-align: start;
}
.why-table-cr {
  display: flex;
  align-items: start;
  /* align-items: center; */

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--black);
}
.why-table-cr >span {
  margin-right: 10px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #969fa8;
}
.why-table-we, .why-table-agency, .why-table-free {
  display: flex;
  align-items: center;
}
.why-table-we > .why-table-container, .why-table-agency > .why-table-container, .why-table-free > .why-table-container {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  width: 100%;
}
.why-table-we > .why-table-container > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #969fa8;
}
.why-table-agency > .why-table-container > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #969fa8;
}
.why-table-free > .why-table-container > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #969fa8;
}
.cell {
  margin-right: 10px;
}
@media (max-width: 768px) {

  .mistakes-items {
    padding: 0 6%;
    padding-top: 70px;
    margin: 0 -6%;
    gap: 10px;

    display: block; /* Для работы slick */
    width: 135%;
    /* width: 100%; */
    white-space: nowrap; /* Для горизонтального скролла без slick */


    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    margin: 0 -20px;
    padding: 0 20px;
    scrollbar-width: none; /* Для Firefox */
  }

  .mistakes-items::-webkit-scrollbar {
    display: none; /* Скрыть scrollbar для Chrome/Safari */
  }
  
  .why-table-wrapper {
    position: relative;
    padding: 0 20px 40px;
  }
  
  .why-table {
    display: block;
    overflow: hidden;
  }
  
  .why-table-title {
    display: none !important; /* Скрываем заголовки в мобильной версии */
  }
  
  .why-table-rows {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    /* display: block; 
    width: 135%;
    white-space: nowrap; 


    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
    margin: 0 -20px;
    padding: 0 20px;
    scrollbar-width: none;  */
  }
  
  .why-table-rows::-webkit-scrollbar {
    display: none;
  }
  
  .why-table-row {
    flex: 0 0 100%;
    scroll-snap-align: start;
    padding: 20px;
    background: white;
    border-radius: 12px;
    margin-right: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    min-height: 200px;

    min-width: 85%;
    scroll-snap-align: start;
  }
  
  /* Стили для мобильных карточек */
  .why-table-row {
    display: flex;
    flex-direction: column;
  }
  
  .why-table-cr {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
  }
  .why-table-cr > span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #969fa8;
  }
  .why-table-we > .why-table-container > p,
  .why-table-agency > .why-table-container > p,
  .why-table-free > .why-table-container > p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #969fa8;
  }
  .why-table-we,
  .why-table-agency,
  .why-table-free {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px 0;
  }
  .why-table-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .why-table-we::before {
    content: "Мы: ";
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--white);

    background:  rgba(4, 109, 83, 0.4);
    border-radius: 100px;
    padding: 4px 20px;
    margin-bottom: 10px;
  }
  
  .why-table-agency::before {
    content: "Агентства: ";
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    margin-bottom: 10px;
  }
  
  .why-table-free::before {
    content: "Фрилансеры: ";
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    margin-bottom: 10px;
  }
  
  /* Стили для галочек/крестиков */
  .why-table-we img,
  .why-table-agency img,
  .why-table-free img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

}

.bottom-wrapper {
  padding-top: 50px;
  /* padding-bottom: 16px; */
  background: var(--main-2);
  background-image: url('../img/bottom-bg.png');
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: contain;
}
.bottom {
  display: flex;
  /* align-items: center; */
  align-items: end;
  justify-content: space-between;
}
.bottom-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.bottom-right {
  position: relative; /* Добавляем для позиционирования изображения */
  height: 100%; /* Занимает всю высоту родителя */
  display: flex;
  align-items: flex-end; /* Прижимаем содержимое к низу */
}
.bottom-right > img {
  width: 111%;
  position: relative;
  /* top: 14.7%; */
  max-width: none; /* Отключаем ограничение максимальной ширины */
  height: auto; /* Сохраняем пропорции */
  object-fit: contain; /* Сохраняем пропорции без обрезки */
  align-self: flex-end; /* Прижимаем изображение к низу */
}
.bottom-left-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  color: var(--white);
  margin-bottom: 20px;
}
.bottom-left-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
  margin-bottom: 16px;
}
.bottom-left-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 76%;
}
.bottom-left-link > span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
}
.bottom-left-link > a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #969fa8;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px 12px;
  background: var(--white);
  border: 1px solid var(--line);
  border-radius: 6px;
}
.bottom-left-link > a > img {
  width: 5%;
}
@media (max-width: 550px) {
  .bottom-left-link {
    display: block;
    width: 100%;
  }
  .bottom-left-link > a > img {
    margin-right: 8px;
  }
  .bottom-left-link > a {
    align-items: start;
    margin-top: 10px;
  }
}




.quiz {
  margin-top: 40px;
  width: 90%;
  margin-bottom: 16px;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
}

.quiz-question {
  text-align: center;
  margin-bottom: 20px;
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  align-items: start;
}

.quiz-question h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--black);
  text-align: left;
  margin-bottom: 20px;
}

.quiz-answers {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  margin: 0 auto;
  width: 100%;
}

.quiz-option {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: left;
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 30px;
  padding: 7px 25px;
  border: 1px solid var(--line);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.quiz-option > label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
}

.quiz-option:hover {
  background: var(--main-1);
  cursor: pointer;
}
.quiz-option > label:hover {
  cursor: pointer;
}
/* .quiz-option > label:active {
  background: var(--main-1);
} */

.quiz-option input[type="radio"] {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  cursor: pointer;
  margin-right: 10px; */

  /* display: none; */

  position: absolute;
  opacity: 0; /* Скрыть, но оставить доступным для :checked */
}

/* .quiz-option input[type="radio"]:checked {
  background: #FFD700;
  border-color: #FFD700;
} */

/* .quiz-option input[type="radio"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
} */

/* Для радио-кнопок */
.quiz-option input[type="radio"]:checked + label {
  background: var(--main-1);
}

/* Для чекбоксов */
.quiz-option input[type="checkbox"]:checked + label {
  background: var(--main-1);
}

/* Общий стиль для выбранных вариантов */
.quiz-option.selected {
  background: var(--main-1);
}

.quiz-option input[type="text"] {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
}

.quiz-option input[type="text"]:focus {
  border-color: #FFD700;
  box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
}

.quiz-next {
  border: 1px solid var(--line);
  border-radius: 30px;
  padding: 10px 25px;
  margin-top: 20px;
  background: var(--main-1);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
}

.quiz-next:hover {
  /* background-color: #ffcc00; */
}

.quiz-next:active {
  transform: scale(0.98);
}

.quiz-option-answer {
  width: 100%;
  border: 1px solid var(--line);
  border-radius: 10px;
  padding: 0;
  background: var(--white);
}
.quiz-option-answer:hover {
  background: #fff;
}
.quiz-text-answer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color:#969fa8;
  text-align: left;
  border: 0;
}

@media (max-width: 550px) {
  .quiz {
    width: 100%;
  }
  .quiz-container {
    padding: 20px;
    max-width: 375px;
    margin: 0 auto;
  }

  .quiz-question h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .quiz-answers {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .quiz-next {
    width: 100%;
  }

  /* .quiz-option {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
  } */

  /* .quiz-option input[type="radio"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
  } */

  /* .quiz-option input[type="radio"]:checked {
    background-color: #FFD700;
    border: 2px solid #FFD700;
  } */

  .quiz-option:hover {
    background-color: #f7f7f7;
  }

  /* .quiz-text-answer {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
  } */

  /* .quiz-next {
    background-color: #FFD700;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  } */
/* 
  .quiz-next:hover {
    background-color: #ffcc00;
  } */

  /* .quiz-text-answer::placeholder {
    color: #aaa;
  } */
  .bottom-right {
    display: none;
  }
  .bottom {
    flex-direction: column;
  }
  .bottom-left {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .footer-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-item > h4 {
    font-size: 18px;
  }

  .footer-item > a {
    font-size: 14px;
  }

  .footer-btn {
    width: 100%;
    text-align: center;
    padding: 12px;
  }
  .footer > a > img {
    margin-bottom: 50px;
  }
  .footer > a {
    margin-right: auto;
  }
}



/* 
.cases-btn {
  padding: 10px 25px;
  border-radius: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}


.cases-btn-primary {
  background: var(--main-2); 
  color: white;
  align-self: flex-end;
  margin-top: auto;
}

.cases-btn-primary:hover {
  background: var(--main-1); 
  color: var(--black);
}


.cases-btn-secondary {
  background: transparent;
  border: 1px solid var(--main-2);
  color: var(--main-2);
}

.cases-btn-secondary:hover {
  background: rgba(4, 109, 83, 0.1);
}

@media (max-width: 768px) {

} */



/* попап */
.quiz-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 80px 100px;
  /* border-radius: 15px; */
  max-width: 800px;
  width: 100%;
  /* text-align: center; */
  position: relative;
}

.popup-content h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: var(--black);
}

.popup-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--black);

  margin: 12px 0;
}

.document-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding: 12px 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  background: #f9f9f9;
  transition: all 0.3s ease;
}

.document-link:hover {
  background: #f0f0f0;
}

.document-link img {
  width: 24px;
  height: 24px;
}

.popup-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease;
}

.popup-close-btn:hover {
  transform: rotate(90deg);
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .popup-content {
    padding: 60px 30px;
    margin: 0 20px;
  }
}